#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  padding: 0em 2em;
  color: #e8fdff;
  top: 0px;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  line-height: 5rem;
  font-size: 2rem;
  float: left;
  margin-left: 10px;
}

