/* style for the compose tweet section */

.new-tweet {
  margin: 60px auto 0px;
  background-color: #f0f0f0;
  padding: .5em;
}

h2{
  border-bottom: 1px solid #244751;
  margin-top: 0px;
}

textarea {
  height: 64px;
  width: 100%;
  padding-top: 7px;
}

footer.new-tweet {
  display: block;
}

.counter {
  float: right;
}

.error span {
  color: red;
}

@media (min-device-width: 500px) {
  .new-tweet{
  border-radius: 5px;
  }
