/* style for all the tweets */

.tweet {
  margin: 2em auto;
  border: 1px solid #f0f0f0;
  width: 100%;
}

.tweet header {
  background-color: #f0f0f0;
}

.tweet header img {
  border-radius: .4em;
}

.tweet header .fullName {
  vertical-align: top;
  display: inline-block;
}

.tweet header .handle {
  display: inline-block;
  float: right;
}

.tweet p {
  padding: 1em;
}

.tweet footer {
  border-top: 1px solid #f0f0f0;
  font-size: 13px;
  padding: 0.7em;
}

.tweet .icons {
  color: #00a087;
  float: right;
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .tweet {
  border-radius: 5px;
}

  .tweet header {
    opacity: 0.5;
  }


  .tweet .icons {
    opacity: 0;
  }

  .tweet:hover .icons {
    opacity: 1;
    color: #00a087;
  }

  .tweet:hover header {
    opacity: 1;
  }

  .tweet:hover {
    border: 1px solid darkgrey;
  }
}



